<footer>
    <div class="f-info">
        <div class="f-info-social"></div>
        <div class="f-info-brand">&copy;FASTCARS Private Limited</div>
        <div class="f-info-links">
            <span class="f-info-text">Privacy</span>
            <span class="f-info-text">Terms</span>
        </div>
    </div>
</footer>
