<nav class="navbar navbar-expand-md bg-body-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin/listings"><i class="fa-solid fa-car-burst"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active"  href="/admin/home">Home</a>
            <a class="nav-link" href="/admin/listings">Overspeeding</a>
            <a class="nav-link" href="/admin/listings/paid">Paid</a>
            <a class="nav-link" href="/admin/listings/unpaid">Unpaid</a>
            <a class="nav-link" href="/admin/signup"> Register New user</a>
            <a class="nav-link" href="/admin/listings/new">Add new Listing</a> 
            <a class="nav-link" href="/admin/totalusers">Total Register Users</a> 
          </div>
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/logout">Logout</a>
          </div>
      </div>
    </div>
  </nav>