<% layout('layouts/userboilerplate') %>
<div class="container mt-5">
    <!-- Admin Dashboard Heading -->
    <div class="text-center">
        <h1 class="dashboard-heading">Welcome to user Panel</h1>
    </div>
</div>